* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
}

header {
  background-color: lightpink;
  font-weight: 500;
  font-style: inherit;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {display: block
}

body {
  background-color: deeppink;
  border: outset;
}

.nav-name-text {
  font-size: xx-large;
}

.container {
  font-display: flex;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: purple;
}

li {
  list-style: none;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #050101;
}

/* nav a {
  color: #000
  background-color: #d4d4d4;
} */


main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.projects{
  display: flex;
  justify-content: center;
}

.projects > section{
  border: 2px solid chartreuse;
  margin: 25px;
  padding: 35px;
}

.project-header {
  align-items: center;
}
